@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background: url("./assets/background.jpg");
  background-size: 100%;
  background-position: 0% 20%;

  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  color: #fff;
}

button {
  padding: 0.5rem;
}

p {
  height: 2rem;
  font-weight: 400;
  margin-top: 1rem;
}

img {
  display: block;
  margin-top: 1rem;
}

h1 {
  font-weight: 300;
  text-decoration: underline;
}

form {
  margin-top: 1rem;
}

label {
  display: block;
}

input {
  height: 2rem;
  width: 25rem;
}

button[type="submit"] {
  background: none;
  outline: transparent;
  border: none;
  background-color: #1d9ff7;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.5rem;
  padding: 0.5rem 2rem;
  border: 2px solid #1eb8ff;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #167ec4;
}

#error {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: monospace;
  color: red;
  background-color: rgb(255, 221, 227);
  margin-top: 0.25rem;
  width: 240px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#error.hidden {
  visibility: hidden;
}
